<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DataBaseConString" connectionString="PV2UoMJ1z1TRbWN3PaJSnPMPU3dIv9bajcFOvfDIaN8vSGPxXuNiP8ehZNEoEXMfHlZ1aJvBfKc="
      providerName="" />
  </connectionStrings>
  <appSettings>
    <add key="httpurl" value="" />
    <add key="token" value="" />
    <add key="plansetdate" value="2012-07-04 13:33:07" />
    <add key="planpltype" value="每天" />
    <add key="planpl" value="1" />
    <add key="planpleverydaytype" value="1" />
    <add key="planeverydayonedate" value="14:32:56" />
    <add key="planeverydaytwotimes" value="" />
    <add key="planeverydaytwotimestype" value="" />
    <add key="planeverydaytwobdate" value="" />
    <add key="planeverydaytwoedate" value="" />
    <add key="plancxtype" value="2" />
    <add key="plancxbdate" value="2012年7月4日" />
    <add key="plancxedate" value="" />
  </appSettings>
</configuration>