<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DataBaseConString" connectionString="PV2UoMJ1z1TRbWN3PaJSnPMPU3dIv9ba5+yC9Ob2jPmhtVygG3y8ayLQ4EVEGBvqdLJHO3KN7bdKTpcsZ2lcBw=="
      providerName="" />
  </connectionStrings>
  <appSettings>
    <add key="httpurl" value="fhcmyD92buEZtRX52lc1mGG9aI62AElgIF4p191jgaX1x9btRmQWG/y5S6hdDkWK" />
    <add key="token" value="aBXwY+I7fv6+y/Juebh+NQ==" />
    <add key="plansetdate" value="2012-07-05 17:46:47" />
    <add key="planpltype" value="每天" />
    <add key="planpl" value="1" />
    <add key="planpleverydaytype" value="1" />
    <add key="planeverydayonedate" value="17:47:07" />
    <add key="planeverydaytwotimes" value="10" />
    <add key="planeverydaytwotimestype" value="秒" />
    <add key="planeverydaytwobdate" value="15:05:57" />
    <add key="planeverydaytwoedate" value="16:05:57" />
    <add key="plancxtype" value="2" />
    <add key="plancxbdate" value="2012年7月4日" />
    <add key="plancxedate" value="" />
  </appSettings>
</configuration>