<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DataBaseConString" connectionString="PV2UoMJ1z1TRbWN3PaJSnPMPU3dIv9bajcFOvfDIaN8vSGPxXuNiP8ehZNEoEXMfHlZ1aJvBfKc="
      providerName="" />
  </connectionStrings>
  <appSettings>
    <add key="httpurl" value=""/>
    <add key="token" value=""/>
    <!-- 执行计划 -->
    <!-- 计划设置时间 -->
    <add key="plansetdate" value=""/>
    <!-- 频率 -->
    <add key="planpltype" value=""/>
    <add key="planpl" value=""/>
    <!-- 每天频率 -->
    <add key="planpleverydaytype" value=""/>
    <add key="planeverydayonedate" value=""/>
    <add key="planeverydaytwotimes" value=""/>
    <add key="planeverydaytwotimestype" value=""/>
    <add key="planeverydaytwobdate" value=""/>
    <add key="planeverydaytwoedate" value=""/>
    <!-- 持续时间 -->
    <add key="plancxtype" value=""/>
    <add key="plancxbdate" value=""/>
    <add key="plancxedate" value=""/>
  </appSettings>
</configuration>